#body {
 
  background-image: url(/braintrendy/assets/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    
    
}



html {
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.container {
  margin-top: 40px !important; 

}

.card-body{
  height: 225px;
  text-align: center;
  font-weight: 250; 
  background-color: #56baed;
   
}

nav {
  font-size: 20px;
}

.btn {
  
  float: right;

}
.jumbotron {
  background-color: #56baed;
}

