body {
    background: url("https://files.slack.com/files-pri/T8TBSJ9S9-FC97AJU0J/background.png");
    background-position: center;
    background-size: cover;
}

#form-container {
    margin-top: 60px;
    margin-left:20px;
    box-sizing: border-box;
}